# Ignorar senhas e configurações locais
appsettings.Development.json

# Ignorar arquivos de build
bin/
obj/

# Ignorar arquivos do Visual Studio
.vs/
*.user

# Forçar uma atualização de teste no commit
# linha_aleatoria_de_teste/